
<nav class="navbar navbar-fixed-bottom navbar-dark" style="background-color: #2e6892;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">All rights reserved</a>
      
    </div>
  </nav>
  
  
  <script src ="/Scripts/app.js"></script>
  <script src ="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src ="/jquery/dist/jquery.min.js"></script>


</body>
</html>
