<!DOCTYPE html>
<html>
  <%- include ../partials/navbar.ejs %>
  <%- include ../partials/header.ejs %>

  <article class="sidebar">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Welcome!</h2>
      <div class="p-4">A Software Engineering student at Centennial College skilled in object-oriented programming with Python
        looking forward to learning and building something challenging.</div>
        <h3 class="sidebar-title">This is me!</h3>

      
  <div class="pixgrid clearfix">
    <img src="/Content/dp.jpg" alt="Artwork 0" width="200" height="200">
    <a href="https://drive.google.com/file/d/18AXU9sImIz5ko6T7zK-DeivLPzG1USBA/view?usp=sharing">CHECKOUT MY RESUME</a>
  </div>
</article>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


  <%- include ../partials/footer.ejs %>

</html>

